{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 1. Введение в сетевые технологии.</h1>
      <p>Компьютерные сети, называемые также сетями передачи данных, являются логическим результатом эволюции двух важнейших научно-технических отраслей современной цивилизации – компьютерных и телекоммуникационных технологий.</p>
      <p>Первые компьютеры 50-х годов – большие, громоздкие и дорогие – предназначались для очень небольшого числа избранных пользователей. Часто эти монстры занимали целые здания. Такие компьютеры применялись в режиме пакетной обработки, при которой использовался мэйнфрейм. Пользователи подготавливали перфокарты, содержащие данные и команды программ, и передавали их в вычислительный центр.</p>

      <figure class="text-center">
        <img src="{% static 'knowledge_base/perfokarta.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Перфокарта</figcaption>
      </figure>

      <p>Эволюция началась с решения задачи доступа к компьютеру с терминалов, удалённых от него на многие сотни или тысячи километров. Терминалы соединялись с компьютерами через телефонные сети с помощью модемов. Следом появились системы, в которых наряду с удаленными соединениями типа «терминал-компьютер» были реализованы и удаленные связи типа «компьютер-компьютер». На основе подобного механизма в первых сетях были реализованы службы обмена файлами, синхронизации баз данных, электронной почты и другие ставшие теперь традиционными сетевые службы.</p>
      <p>Хронологически первыми появились глобальные сети (Wide Area Network, WAN) – сети, объединяющие территориально рассредоточенные компьютеры, возможно находящиеся в различных городах и странах.</p>
      <p>Глобальные компьютерные сети очень многое унаследовали от других, гораздо более старых и распространенных глобальных телекоммуникационных сетей – телефонных. Первые глобальные компьютерные сети отказались от принципа коммутации каналов, на протяжении многих десятков лет успешно использовавшегося в телефонных сетях.</p>
      <p>В течение многих лет глобальные сети строились на основе телефонных каналов тональной частоты. Помимо низкой скорости такие каналы вносят значительные искажения в передаваемые сигналы. Типичным примером таких сетей являются сети Х.25, разработанные еще в начале 70-х. В 1969 году министерство обороны США инициировало работы по объединению в единую сеть суперкомпьютеров оборонных и научно-исследовательских центров. Эта сеть, получившая название ARPANET, стала отправной точкой для создания первой и самой известной ныне глобальной сети – Internet.</p>

      <figure class="text-center">
        <img src="{% static 'knowledge_base/arpanet.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Развитие ARPANET</figcaption>
      </figure>

      <p>Важное событие, повлиявшее на эволюцию компьютерных сетей, произошло в начале 70-х годов. В результате технологического прорыва в области производства компьютерных компонентов появились большие интегральные схемы (БИС). Их сравнительно невысокая стоимость и хорошие функциональные возможности привели к созданию миникомпьютеров, которые стали реальными конкурентами мэйнфреймов.</p>
      <p>Локальные сети (Local Area Network, LAN) – это объединения компьютеров, сосредоточенных на небольшой территории, обычно в радиусе не более 1-2 км. В общем случае локальная сеть представляет собой коммуникационную систему, принадлежащую одной организации.</p>

      <figure class="text-center">
        <img src="{% static 'knowledge_base/wanandlan.png' %}" class="img-fluid mb-4 mx-auto d-block w-25">
        <figcaption>WAN и LAN</figcaption>
      </figure>

      <p>На первых порах для соединения компьютеров друг с другом использовались нестандартные сетевые технологии.</p>
      <p>Сетевая технология – это согласованный набор программных и аппаратных средств (например, драйверов, сетевых адаптеров, кабелей и разъемов), а также механизмов передачи данных по линиям связи, достаточный для построения вычислительной сети.</p>
      <p>В середине 80-х годов положение дел в локальных сетях кардинально изменилось. Утвердились стандартные сетевые технологии объединения компьютеров в сеть – Ethernet, Arcnet, Token Ring, Token Bus, несколько позже – FDDI. Главной их задачей было обеспечение надежной передачи.</p>
      <p>Все стандартные технологии локальных сетей опирались на тот же принцип коммутации, который был с успехом опробован и доказал свои преимущества при передаче трафика данных в глобальных компьютерных сетях, – принцип коммутации пакетов. Конец 90-х выявил явного лидера среди технологий локальных сетей – семейство Ethernet, в которое вошли:</p>

      <ul>
        <li>Ethernet со скоростью передачи 10 Мбит/с;</li>
        <li>Fast Ethernet со скоростью 100 Мбит/с; </li>
        <li>Gigabit Ethernet со скоростью 1000 Мбит/с.</li>
      </ul>

      <figure class="text-center">
        <img src="{% static 'knowledge_base/ethernet.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Кабель Ethernet</figcaption>
      </figure>

      <p>Если в конце 80-х годов отличия между локальными и глобальными сетями проявлялись весьма отчетливо (протяженность и качество линий связи, сложность методов передачи данных, скорость обмена данными, разнообразие услуг), то постепенно различия между ними стали сглаживаться. Изолированные ранее локальные сети начали объединять друг с другом, при этом в качестве связующей среды использовались глобальные сети.</p>
      <p>Сближение в методах передачи данных происходит на платформе цифровой передачи данных по ВОЛС. Эта среда передачи используется практически во всех технологиях локальных сетей для скоростного обмена информацией на расстояниях свыше 100 метров, на ней же стали строиться современные магистрали первичных сетей SDH и DWDM, предоставляющих свои цифровые каналы для объединения оборудования глобальных компьютерных сетей. Появились новые технологии глобальных сетей: Frame Relay и ATM, в которых на первый план вышли процедуры обеспечения гарантированной средней скорости доставки информации пользователям, а также механизмы приоритетной обработки пакетов чувствительного к задержкам трафика (например, голосового).</p>
      <p>Начиная с 90-х годов компьютерные глобальные сети, работающие на основе скоростных цифровых каналов, существенно расширили спектр предоставляемых услуг и догнали в этом отношении локальные сети. Стало возможным создание служб, работа которых связана с доставкой пользователю больших объемов информации в реальном времени – изображений, видеофильмов, голоса, в общем, всего того, что получило название мультимедийной информации.</p>
      <p>Признаком сближения локальных и глобальных сетей является появление городских сетей, или сетей мегаполисов (Metropolitan Area Network, MAN), занимающих промежуточное положение между локальными и глобальными сетями.</p>

      <figure class="text-center">
        <img src="{% static 'knowledge_base/man.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Metropolitan Area Network</figcaption>
      </figure>

      <p>Начиная с 1980-х годов предпринимаются попытки создания универсальной, так называемой мультисервисной сети, способной предоставлять услуги как компьютерных, так и телекоммуникационных сетей. Первая попытка создания мультисервисной сети, способной оказывать различные услуги, в том числе услуги телефонии и передачи данных, привела к появлению технологии цифровых сетей с интегрированным обслуживанием (Integrated Services Digital Network, ISDN). Однако на практике ISDN предоставляет сегодня в основном телефонные услуги, а на роль глобальной мультисервисной сети нового поколения, часто называемой в англоязычной литературе Next Generation Network (NGN) претендует Интернет.</p>
      <p>Наблюдается сближение видов услуг, предоставляемых клиентам, а также технологическое сближение сетей, которое происходит на основе цифровой передачи информации различного типа, метода коммутации пакетов и программирования услуг. Мультисервисная сеть нового поколения не может быть создана в результате «победы» какой-нибудь одной технологии или одного подхода. Ее может породить только процесс конвергенции, когда от каждой технологии будет взято все самое лучшее. Появился новый термин – инфокоммуникационная сеть, который прямо говорит о двух составляющих современной сети – информационной (компьютерной) и телекоммуникационной.</p>
      <p>Интернет является самой быстрорастущей технической системой в истории человечества. Интернет растет постоянно начиная с 80-х годов и в соответствии с прогнозами специалистов будет продолжать расти.</p>
      <figure class="text-center">
        <img src="{% static 'knowledge_base/trafficgrowth.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Рост интернет-трафика с течением времени</figcaption>
      </figure>

      <p>В следующих главах базы знаний подробно описаны протоколы и технологии, благодаря которым функционируют компьютерные сети и Интернет.</p>
      <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}