{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 15. Анализ сетевого трафика.</h1>
        <p><b>Анализ трафика</b> – это процесс мониторинга, записи и анализа данных, проходящих через сеть. Этот процесс является неотъемлемой частью обеспечения безопасности и оптимизации работы сетевой инфраструктуры – он помогает выявлять аномалии, диагностировать проблемы и оценивать производительность сети. Ниже приведены основные аспекты анализа сетевого трафика, методы, инструменты и примеры использования.</p>

        <p><b>Основные цели анализа:</b></p>
<ul>
    <li>Обеспечение безопасности сети: выявление и предотвращение вторжений, обнаружение вредоносного ПО и защита конфиденциальной информации.</li>
    <li>Оптимизация производительности: выявление узких мест в сети, балансировка нагрузки и повышение эффективности использования сетевых ресурсов.</li>
    <li>Диагностика и устранение проблем: быстрое обнаружение и устранение неисправностей, снижение времени простоя и обеспечение стабильной работы сети.</li>
    <li>Соответствие требованиям: обеспечение соответствия нормативным требованиям и внутренним политикам безопасности.</li>
</ul>

<p><b>Методы анализа сетевого трафика</b></p>
<p>Существует несколько методов анализа сетевого трафика, каждый из которых имеет свои преимущества и недостатки:</p>
<ul>
    <li><b>Пакетный анализ:</b> метод заключается в захвате и анализе отдельных сетевых пакетов. Это наиболее детальный метод, который позволяет получить информацию о каждом пакете, проходящем через сеть. Инструменты для пакетного анализа, такие как Wireshark, позволяют глубоко анализировать трафик и выявлять аномалии на уровне пакетов.</li>
    <li><b>Анализ сетевых потоков:</b> основан на сборе и анализе метаданных о сетевом трафике, таких как объем переданных данных, IP-адреса источника и получателя, порты и протоколы. Анализ сетевых потоков менее детализирован, чем пакетный анализ, но более эффективен с точки зрения ресурсов и масштабируемости. Инструменты для анализа сетевых потоков включают NetFlow, sFlow и IPFIX.</li>
    <li><b>Анализ сетевых журналов:</b> основан на сборе и анализе журналов событий, создаваемых сетевыми устройствами (например, маршрутизаторами, коммутаторами, брандмауэрами). Журналы содержат информацию о подключениях, попытках доступа и других сетевых событиях. Инструменты для анализа сетевых журналов включают Splunk, Graylog и ELK Stack.</li>
    <li><b>Поведенческий анализ:</b> метод основан на анализе сетевого трафика для выявления аномалий в поведении пользователей и устройств. Поведенческий анализ может обнаруживать угрозы, которые не выявляются традиционными методами, такие как атаки нулевого дня и внутренние угрозы. Примеры инструментов для поведенческого анализа – Darktrace и Vectra AI.</li>
</ul>

<p><b>Инструменты для анализа сетевого трафика</b></p>
<p>Существует множество инструментов для анализа сетевого трафика, каждый из которых имеет свои особенности и области применения:</p>
<ul>
    <li><b>Wireshark:</b> один из самых популярных инструментов для пакетного анализа. Wireshark позволяет захватывать и анализировать сетевые пакеты в реальном времени, предоставляя детализированную информацию о каждом пакете.</li>
    <li><b>NetFlow:</b> технология, разработанная Cisco для сбора и анализа сетевых потоков. NetFlow позволяет мониторить сетевой трафик, выявлять аномалии и оптимизировать использование сети.</li>
    <li><b>Splunk:</b> мощный инструмент для анализа сетевых журналов и событий. Splunk позволяет собирать, анализировать и визуализировать данные из различных источников, предоставляя ценные инсайты для обеспечения безопасности и оптимизации сети.</li>
    <li><b>Darktrace:</b> инструмент для поведенческого анализа, использующий машинное обучение для выявления аномалий в сетевом трафике. Darktrace помогает обнаруживать и предотвращать угрозы, которые не выявляются традиционными методами.</li>
</ul>

        <figure class="text-center">
        <img src="{% static 'knowledge_base/wireshark.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Окно Wireshark с запущенным захватом пакетов</figcaption>
      </figure>


<p><b>Примеры использования анализа трафика</b></p>
<ul>
    <li><b>Обнаружение и предотвращение вторжений:</b> анализ сетевого трафика помогает выявлять и блокировать несанкционированные попытки доступа, а также обнаруживать вредоносное ПО и другие угрозы.</li>
    <li><b>Оптимизация производительности сети:</b> анализ трафика позволяет выявлять узкие места, оптимизировать маршрутизацию и балансировку нагрузки, а также улучшать качество обслуживания (QoS).</li>
    <li><b>Диагностика и устранение неисправностей:</b> анализ сетевого трафика позволяет быстро выявлять и устранять неисправности, обеспечивая стабильную работу сети.</li>
    <li><b>Обеспечение соответствия нормативным требованиям:</b> анализ сетевого трафика помогает обеспечить соответствие внутренним политикам безопасности и нормативным требованиям, таким как GDPR или HIPAA.</li>
</ul>




      <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}