{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 14. Wireless LAN, Wi-Fi.</h1>

<p>Беспроводная связь сейчас распространена повсеместно, но унифицированный стандарт беспроводных сетей появился лишь в конце 90-х. До этого не было особой необходимости в повсеместных беспроводных сетях, а различные компании придумывали свои проекты.</p>
<p>Первые описания стандарта появились в 1997 году, а в 1999 был создан Wi-Fi Alliance и стандарты 802.11b и 802.11a. Изначально планировалось работать на скоростях 1-2 Мбит/с, но принятые стандарты уже позволяли обмениваться данными на скоростях до 11 Мбит/с («сырая» скорость), что было достаточно быстро, т.к. многие проводные сети еще работали на скоростях 10 Мбит/с.</p>
<p>Наименование <b>Wi-Fi</b> произошло от <b>Wireless Fidelity</b>, что и закрепилось за технологией как ее название.</p>
<img src="{% static 'knowledge_base/wifilogo.png' %}" class="img-fluid mb-4 mx-auto d-block w-25">
<p>Скорость Wi-Fi сетей значительно возросла за время существования технологии: от 11 Мбит/с до теоретических 96 Гбит/с (WiFi6 практически нереализуемо для клиентов). Также были улучшены вопросы безопасности: изначально сети были либо открытые, либо с простейшим шифрованием WEP (Wired Equivalent Privacy), что в дальнейшем стало небезопасно. Кроме Wi-Fi есть также близкие к нему технологии для организации беспроводных подключений.</p>

        <figure class="text-center">
        <img src="{% static 'knowledge_base/wifi1.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Эволюция Wi-Fi</figcaption>
      </figure>

<p><b>Wireless Personal-Area Network (WPAN)</b> — сети малой мощности и ближнего действия (6-9 метров). Основан на стандарте IEEE 802.15 и частоте 2.4 ГГц. Bluetooth и Zigbee являются примерами WPAN.</p>
<p><b>Wireless LAN (WLAN)</b> — сети среднего размера, примерно до 300 метров. Основан на стандарте IEEE 802.11 и частоте 2.4 или 5.0 ГГц.</p>
<p><b>Wireless MAN (WMAN)</b> — обширная географическая область, такая как город или район. WMAN используют определенные лицензированные частоты.</p>
<p><b>Wireless WAN (WWAN)</b> — обширная географическая область для национальной или глобальной коммуникации. WMAN используют определенные лицензированные частоты.</p>
<p>Стандарты обеспечивают совместимость между устройствами разных производителей. На международном уровне тремя организациями, влияющими на стандарты WLAN, являются МСЭ, IEEE и Wi-Fi Alliance.</p>

        <ul>
            <li>Международный союз электросвязи (МСЭ) — регулирует распределение радиоспектра и спутниковых орбит.</li>
            <li>Институт инженеров по электротехнике и электронике (IEEE) — определяет, как радиочастота модулируется для передачи информации. Поддерживает стандарты для локальных и городских сетей (MAN) с семейством стандартов IEEE 802 LAN / MAN.</li>
            <li>Wi-Fi Alliance — способствует росту и принятию сетей WLAN. Это ассоциация поставщиков, целью которой является улучшение совместимости продуктов, основанных на стандарте 802.11.</li>
        </ul>

<p>Все беспроводные устройства работают в диапазоне электромагнитного спектра. В основном сети WLAN работают в диапазоне частот 2.4 ГГц и 5 ГГц.</p>

        <table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; border: 1px solid #000; margin: 0 auto;">
  <thead>
    <tr style="background-color: #1b2a5f; color: #fff;">
      <th style="border: 1px solid #000;">Стандарт IEEE</th>
      <th style="border: 1px solid #000;">Радиочастота, РЧ</th>
      <th style="border: 1px solid #000;">Описание</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #000;">802.11</td>
      <td style="border: 1px solid #000;">2,4 ГГц</td>
      <td style="border: 1px solid #000;">Скорость передачи до 2 Mb/s</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;">802.11a</td>
      <td style="border: 1px solid #000;">5 ГГц</td>
      <td style="border: 1px solid #000;">Скорость передачи до 54 Mb/s не совместим с 802.11b и 802.11g</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;">802.11b</td>
      <td style="border: 1px solid #000;">2,4 ГГц</td>
      <td style="border: 1px solid #000;">Скорость передачи до 11 Mb/s Большая дальность действия по сравнению с 802.11a и лучшая способность проникать в строительные конструкции</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;">802.11g</td>
      <td style="border: 1px solid #000;">2,4 ГГц</td>
      <td style="border: 1px solid #000;">Скорость передачи до 54 Mb/s Обратно совместим с 802.11</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;">802.11n</td>
      <td style="border: 1px solid #000;">2,4 ГГц и 5 ГГц</td>
      <td style="border: 1px solid #000;">Скорость передачи данных 150 – 600 Mb/s Требуется несколько антенн с технологией MIMO</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;">802.11ac</td>
      <td style="border: 1px solid #000;">5 ГГц</td>
      <td style="border: 1px solid #000;">Скорость передачи данных 450 Mb/s – 1.3 Gb/s Поддерживает до восьми антенн</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000;">802.11ax</td>
      <td style="border: 1px solid #000;">2,4 ГГц и 5 ГГц</td>
      <td style="border: 1px solid #000;">Также известны как высокоэффективный беспроводной (HEW) или WiFi 6, частоты до 6ГГц, до 9,6Гбит/с</td>
    </tr>
  </tbody>
</table>


<br><p>Для беспроводной связи ноутбуки, планшеты, смартфоны и даже новейшие автомобили оснащены беспроводными сетевыми картами, которые включают в себя радиопередатчик/приемник. Если устройство не имеет встроенного беспроводного сетевого адаптера, можно использовать, например, беспроводные адаптеры USB. Стоит отметить, что заявленные скорости обычно не являются реальными (зависит от антенн, качества приема сигнала, загруженности эфира и других факторов).</p>
<p>Домашний пользователь обычно подключает беспроводные устройства с помощью небольшого беспроводного маршрутизатора. Беспроводные домашние маршрутизаторы состоят из:</p>
<ul>
    <li>Точки доступа — для обеспечения беспроводного доступа</li>
    <li>Коммутатора — для подключения проводных устройств</li>
    <li>Маршрутизатора — маршрутизация сетей и Интернет.</li>
</ul>

        <img src="{% static 'knowledge_base/wifi2.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">

<p>Беспроводные клиенты подключаются к точкам доступа (AP). После прохождения аутентификации пользователи беспроводной сети получают доступ к ресурсам сети. Точки доступа отличаются тем, что выполняют в основном функцию подключения клиентов к сети, аутентификацию и некоторые другие функции. Точки доступа обычно используются в корпоративных и публичных Wi-Fi сетях.</p>
<img src="{% static 'knowledge_base/wifi3.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">

<p><b>Принципы работы WLAN</b></p>
<p>Режим Ad-hoc — используется для подключения клиентов одноранговым способом без точки доступа.</p>
<p>Инфраструктурный режим — используется для подключения клиентов к сети с использованием точки доступа.</p>

<p>Формат кадра 802.11 аналогичен формату кадра Ethernet, за исключением того, что он содержит больше полей.</p>
        <img src="{% static 'knowledge_base/wifi4.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
<p>Для подключения друг к другу беспроводной клиент и точка доступа должны согласовать специальные параметры.</p>
<ul>
    <li>SSID — Клиент должен знать имя сети для подключения.</li>
    <li>Пароль — требуется для аутентификации беспроводного клиента в точке доступа.</li>
    <li>Режим сети — Используемый стандарт 802.11.</li>
    <li>Security mode (Режим безопасности) — настройки параметров безопасности (WEP, WPA или WPA2).</li>
    <li>Настройки каналов — Используемые полосы частот.</li>
</ul>



      <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}