{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 9. Введение в DNS.</h1>

      <p>DNS (Domain Name System) — это система доменных имен, которая играет ключевую роль в интернете, обеспечивая удобный способ сопоставления символьных имен (доменов) с IP-адресами и наоборот. Эта система облегчает пользователям доступ к веб-сайтам, не требуя запоминания сложных числовых IP-адресов. Рассмотрим основные принципы работы DNS, его архитектуру и важные аспекты функционирования.</p>

<h2>Основные понятия</h2>
<ul>
    <li><b>DNS-сервер</b> — специализированное программное обеспечение, которое обслуживает запросы на отображение доменных имен в IP-адреса и наоборот. DNS-сервер может быть ответственным за определенные зоны и перенаправлять запросы другим серверам.</li>
    <li><b>DNS-клиент</b> — устройство или программное обеспечение, которое отправляет запросы на DNS-серверы для получения соответствий доменных имен и IP-адресов. В некоторых случаях DNS-серверы могут выступать и как DNS-клиенты.</li>
    <li><b>Поддомен</b> — имя подчиненной зоны в DNS, которое может содержать до 63 символов. Максимальная длина полного доменного имени не должна превышать 254 символов.</li>
    <li><b>Ответственность</b> — признак, указывающий на то, что DNS-сервер отвечает за определенную зону. Ответы DNS-сервера могут быть ответственными (сервер сам отвечает за зону) и неответственными (сервер обрабатывает запрос и возвращает ответ других серверов).</li>
    <li><b>DNS-запрос</b> — запрос от клиента или сервера к DNS-серверу. Запрос может быть рекурсивным (сервер продолжает опрашивать другие серверы до получения ответа) или нерекурсивным (сервер возвращает данные только из своей зоны ответственности или адреса корневых серверов).</li>
</ul>

<h2>Архитектура DNS</h2>
<ul>
    <li><b>Корневой домен</b> — верхний уровень иерархии, управляемый центральными органами интернета, такими как ICANN. Он включает корневые серверы, которые знают, как найти DNS-серверы доменов верхнего уровня.</li>
    <li><b>Домен верхнего уровня (TLD)</b> — домены, которые следуют сразу за корневым доменом, например, .com, .org, .ru и др. Назначение этих доменов осуществляется согласно международным стандартам ISO 3166.</li>
    <li><b>Вторичные домены</b> — домены, следующие за TLD, например, google.com, yandex.ru и др. Эти домены управляются владельцами соответствующих TLD-доменов.</li>
    <li><b>Субдомены</b> — дополнительные уровни доменов, которые могут указывать на различные подразделения внутри организации или различные сервисы, например, mail.google.com, maps.yandex.ru.</li>
</ul>

<h2>Принципы работы DNS</h2>
<ul>
    <li><b>Разрешение имен</b> — процесс, при котором DNS-клиент отправляет запрос DNS-серверу для получения IP-адреса, соответствующего доменному имени. Сервер отвечает либо непосредственно, либо перенаправляет запрос вышестоящим серверам.</li>
    <li><b>Кэширование</b> — для ускорения процесса разрешения имен DNS-серверы и клиенты могут кэшировать ответы на запросы. Кэширование снижает нагрузку на серверы и ускоряет доступ к часто запрашиваемым доменам.</li>
    <li><b>Протоколы</b> — для передачи DNS-запросов и ответов используется протокол DNS, который работает поверх UDP (порт 53) для быстрого обмена небольшими сообщениями. В случае необходимости повышенной надежности используется TCP.</li>
    <li><b>Типы записей в DNS</b> — DNS-серверы хранят различные типы записей, которые содержат информацию о доменах и их IP-адресах:
        <ul>
            <li><b>A</b> — отображение доменного имени на IPv4-адрес.</li>
            <li><b>AAAA</b> — отображение доменного имени на IPv6-адрес.</li>
            <li><b>NS</b> — имя DNS-сервера для определенного домена.</li>
            <li><b>MX</b> — имя почтового сервера для домена.</li>
            <li><b>CNAME</b> — каноническое имя, использующееся для алиасов доменных имен.</li>
        </ul>
    </li>
</ul>

<p>Функционирование DNS основывается на следующих компонентах:</p>
<ul>
    <li><b>Распределение пространства имен</b> — пространство доменных имен разделяется между DNS-серверами так, чтобы каждый сервер хранил записи только для определенного уровня. Например, сервер, отвечающий за домен com, хранит только записи о поддоменах уровня com и ссылки на серверы, обслуживающие эти поддомены.</li>
    <li><b>Рекурсивные и нерекурсивные запросы</b> — при рекурсивном запросе сервер выполняет полное разрешение доменного имени, обращаясь к другим серверам. При нерекурсивном запросе сервер возвращает либо конечный ответ, либо ссылку на другой DNS-сервер.</li>
    <li><b>Инструменты для работы с DNS</b> — для проверки и диагностики DNS-записей используются утилиты, такие как nslookup и dig (для UNIX-систем). Эти инструменты позволяют отправлять запросы к DNS-серверам и анализировать ответы.</li>
</ul>

        <figure class="text-center">
        <img src="{% static 'knowledge_base/DNS.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Схема работы DNS-сервера и клиента</figcaption>
      </figure>

<p>DNS - одна из основных технологий современного Интернета. Без DNS тяжело представить быстрое и эффективное сетевое взаимодействие, а его основные преимущества кратко можно охарактеризовать так:</p>
<ul>
    <li><b>Удобство использования</b> — пользователи могут запоминать и использовать удобные доменные имена вместо сложных числовых IP-адресов.</li>
    <li><b>Глобальная масштабируемость</b> — иерархическая структура DNS позволяет эффективно управлять доменными именами в глобальном масштабе.</li>
    <li><b>Надежность и отказоустойчивость</b> — распределенная архитектура DNS обеспечивает высокую надежность и возможность быстрого восстановления в случае сбоя отдельных серверов.</li>
    <li><b>Безопасность</b> — современные DNS-системы включают механизмы безопасности, такие как DNSSEC (DNS Security Extensions), которые защищают от подделки данных и атак типа «человек посередине».</li>
</ul>
        <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}