{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 13. IPv6: переход и реализация.</h1>

        <p>Протокол <b>IPv6</b> разработан как преемник протокола IPv4. В протоколе IPv6 больше 128-битного адресного пространства, что достаточно для 340 ундециллионов адресов (это число 340, за которым следует 36 нолей). Среди улучшений — протокол управляющих сообщений версии 6 (ICMPv6), который включает в себя разрешение адресов и автонастройку адресов, что отсутствовало в протоколе ICMP для IPv4 (ICMPv4).</p>

<h2>Методы перехода</h2>

<p>Методы перехода можно разделить на три категории:</p>
<ul>
    <li>Двойной стек — позволяет протоколам IPv4 и IPv6 сосуществовать в одной сети. Устройства с двойным стеком одновременно работают с протокольными стеками IPv4 и IPv6.</li>
    <li>Туннелирование — способ транспортировки IPv6-пакетов через IPv4-сеть. IPv6-пакет инкапсулируется внутри IPv4-пакета, как и другие типы данных.</li>
    <li>Преобразование — преобразование сетевых адресов 64 (NAT64) позволяет устройствам под управлением IPv6 обмениваться данными с устройствами под управлением IPv4 с помощью метода преобразования, похожего на метод преобразования из NAT для IPv4.</li>
</ul>

<h2>Адресация в IPv6</h2>

<p>Длина IPv6-адресов составляет 128 бит, написанных в виде строки шестнадцатеричных значений. Каждые 4 бита представлены одной шестнадцатеричной цифрой, причём общее количество шестнадцатеричных значений равно 32. Предпочтительный формат для записи IPv6-адреса: x: x: x: x: x: x: x: x, где каждый «x» состоит из четырёх шестнадцатеричных значений.</p>

<h3>Сокращение записи IPv6-адресов</h3>

<p>Первое правило для сокращения записи IPv6-адресов — пропуск всех ведущих 0 (нулей) в шестнадцатеричной записи.<p>

<style>
        .centered-table {
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
            border: 1px solid black;
        }
        .centered-table td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table class="centered-table">
        <tbody>
            <tr>
                <td>Предпочтительно</td>
                <td>2001:DB8:0000:1111:0000:0000:0000:0200</td>
            </tr>
            <tr>
                <td>Без ведущих нулей</td>
                <td>2001:DB8:0:1111:0:0:0:200</td>
            </tr>
        </tbody>
    </table>
</body><br>

<p>Второе правило для сокращения записи адресов IPv6 заключается в том, что двойное двоеточие (::) может заменить любую единую, смежную строку одного или нескольких 16-битных сегментов (хекстетов), состоящих из нулей.</p>

    <style>
        .centered-table {
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
            border: 1px solid black;
        }
        .centered-table td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table class="centered-table">
        <tbody>
            <tr>
                <td>Предпочтительно</td>
                <td>2001:DB8:0000:1111:0000:0000:0000:0200</td>
            </tr>
            <tr>
                <td>Без ведущих нулей</td>
                <td>2001:DB8:0:1111:0:0:0:200</td>
            </tr>
            <tr>
                <td>Сжатый</td>
                <td>2001:DB8:0:1111::200</td>
            </tr>
        </tbody>
    </table>
</body><br>

<h2>Типы адресов IPv6</h2>

<ul>
    <li>Групповой — используется для отправки IPv6-пакетов по нескольким адресам назначения.</li>
    <li>Произвольный — любой индивидуальный IPv6-адрес, который может быть назначен нескольким устройствам.</li>
    <li>Индивидуальный — служит для определения интерфейса на устройстве под управлением протокола IPv6. Существует три типа индивидуальных IPv6-адресов:</li>
</ul>

<p>В отличие от протокола IPv4, IPv6 не использует адрес широковещательной рассылки. Однако есть групповой IPv6-адрес для всех узлов, который даёт аналогичный результат.</p>

<h3>Длина префикса IPv6</h3>

<p>Длина префикса обозначает сетевую часть IPv6-адреса с помощью адреса или длины IPv6-префикса. Диапазон длины префикса может составлять от 0 до 128. Традиционная длина IPv6-префикса для локальных и других типов сетей — /64.</p>

<h3>Индивидуальные адреса IPv6</h3>

<p>Индивидуальный адрес служит для определения интерфейса устройства под управлением протокола IPv6. Существует шесть типов индивидуальных IPv6-адресов:</p>
<img src="{% static 'knowledge_base/ipv61.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">

<ul>
    <li>Глобальный индивидуальный адрес мало чем отличается от публичного IPv4-адреса. Адреса, к которым можно проложить маршрут по Интернету, являются уникальными по всему миру. Могут быть настроены статически или присвоены динамически.</li>
    <li>Локальные адреса канала используются для обмена данными с другими устройствами по одному локальному каналу (подсети).</li>
    <li>Loopback-адрес используется узлом для отправки пакета самому себе и не может быть назначен физическому интерфейсу. Loopback-адрес IPv6 состоит из нулей, за исключением последнего бита, который выглядит как ::1/128 или просто ::1 в сжатом формате.</li>
    <li>Неопределённый адрес состоит из нулей и в сжатом формате представлен как ::/128 или просто ::. Неопределённый адрес используется в качестве адреса источника, когда устройству еще не назначен постоянный IPv6-адрес или когда источник пакета не относится к месту назначения.</li>
    <li>Уникальные локальные адреса используются для локальной адресации в пределах узла или между ограниченным количеством узлов. Эти адреса не следует маршрутизировать в глобальном протоколе IPv6 (FC00::/7 до FDFF::/7).</li>
    <li>Встроенные IPv4-адреса используются для перехода с протокола IPv4 на IPv6.</li>
</ul>

<h3>Групповые адреса IPv6</h3>

<p>Групповые адреса могут быть только адресами назначения, а не адресами источника. Существует два типа групповых IPv6-адресов:</p>
<ul>
    <li>Присвоенный групповой адрес — зарезервированы для заданных групп устройств. Есть две распространенные группы присвоенных групповых IPv6-адресов:
        <ul>
            <li>Группа многоадресной рассылки для всех узлов FF02::1. Это группа многоадресной рассылки, в которую включены все устройства под управлением протокола IPv6. Пакет, отправленный этой группе, принимается и обрабатывается всеми IPv6-интерфейсами в канале или сети.</li>
            <li>Группа многоадресной рассылки для всех маршрутизаторов FF02::2. Это группа многоадресной рассылки, в которую включены все IPv6-маршрутизаторы. Маршрутизатор становится частью этой группы, когда переходит под управление протоколом IPv6 с помощью команды глобального конфигурирования ipv6 unicast-routing.</li>
        </ul>
    </li>
    <li>Групповой адрес запрошенного узла — аналогичен групповому адресу для всех узлов. Преимущество группового адреса запрошенных узлов заключается в том, что он соответствует специальному адресу многоадресной рассылки Ethernet. Это позволяет сетевой плате Ethernet отфильтровывать кадр, анализируя MAC-адрес назначения без его отправки в IPv6-процесс, чтобы убедиться, что устройство действительно является узлом назначения IPv6-пакета.</li>
</ul>

<h3>Разделение на подсети с использованием идентификатора подсети</h3>

<p>IPv6 был разработан с учетом создания подсетей. Для создания подсетей используется отдельное поле ID подсети в GUA IPv6. Поле ID подсети — это область между префиксом глобальной маршрутизации и идентификатором интерфейса.</p>

<h3>Пример подсети IPv6</h3>

<p>Учитывая глобальный префикс маршрутизации 2001:db8:acad::/48 с 16-битным идентификатором подсети. Разрешает 65 536 /64 подсети. Обратите внимание, что префикс глобальной маршрутизации является одинаковым для всех подсетей. Для каждой подсети увеличивается только гекстет идентификатора подсети в шестнадцатеричном формате.</p>

<h3>Распределение подсети IPv6</h3>

<p>Как показано на рисунке, в примере топологии потребуются подсети для каждой локальной сети (LAN), а также для канала сети WAN между маршрутизаторами R1 и R2. Были выделены пять подсетей IPv6 с полем ID подсети 0001 по 0005. Каждая подсеть /64 предоставит гораздо больше адресов, чем может когда-либо понадобиться.</p>
<img src="{% static 'knowledge_base/ipv62.png' %}" class="img-fluid mb-4 mx-auto d-block w-75">

      <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}