{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 5. Маршрутизация, введение в протоколы маршрутизации.</h1>

      <p>Маршрутизация — это процесс определения оптимального пути для передачи данных от отправителя к получателю через сложную сеть, состоящую из множества маршрутизаторов и промежуточных узлов. Маршрут, по которому передаются пакеты данных, может состоять из нескольких сегментов пути, каждый из которых определяется на основе определенных правил и алгоритмов. Давайте рассмотрим основные типы маршрутов и протоколов маршрутизации, которые используются в современных сетях.</p>

      <ul>
        <li><b>Маршрут до хоста</b> определяет конкретный шлюз, который может переслать пакеты определенному хосту в другой сети. Это наиболее детализированный тип маршрута, который используется для точечной доставки данных.</li>
        <li><b>Маршрут к сети</b> определяет шлюз, который может переслать пакеты любому хосту в указанной сети. Этот тип маршрута менее детализирован, чем маршрут до хоста, и используется для передачи данных в пределах определенной подсети.</li>
        <li><b>Маршрут по умолчанию</b> используется, когда не задан ни маршрут до целевого хоста, ни маршрут к сети целевого хоста. Он определяет шлюз, которому будут отправлены все пакеты, не имеющие специфического маршрута. Это своего рода "путь по умолчанию", который используется для обеспечения базовой маршрутизации.</li>
        <li><b>Циклический маршрут</b> используется для маршрутизации пакетов, отправляемых по адресам локальной сети. IP-адрес циклического маршрута всегда 127.0.0.1, и он позволяет устройствам отправлять и получать пакеты для тестирования и диагностики в пределах собственного устройства.</li>
        <li><b>Маршрут оповещения</b> используется для отправки широковещательных пакетов, предназначенных для всех устройств в сети. Каждой подсети автоматически присваиваются два маршрута оповещения: один — адресу подсети, а другой — адресу оповещения подсети.</li>
      </ul>

      <p>Ключевую роль в определении маршрутов для передачи данных через сети играют протоколы маршрутизации. Существует несколько типов протоколов маршрутизации, которые можно разделить на две основные категории: протоколы внутренней маршрутизации (IGP) и протоколы внешней маршрутизации (EGP).</p>
      <p>Протоколы IGP используются для маршрутизации данных в пределах одной автономной системы (AS). Наиболее распространенные протоколы этого типа представлены ниже:</p>

      <ul>
        <li><b>RIP (Routing Information Protocol)</b> – один из самых старых протоколов маршрутизации, использующий алгоритм расстояния-вектора. RIP обновляет таблицы маршрутизации каждые 30 секунд и имеет ограничение по числу переходов (хопов) в 15, что делает его менее эффективным для больших сетей.</li>
        <li><b>OSPF (Open Shortest Path First)</b> – протокол, использующий алгоритм состояния канала для построения топологической карты сети и определения наилучшего маршрута. OSPF обновляет маршруты по изменению состояния сети и не имеет ограничений по числу хопов, что делает его более подходящим для крупных сетей.</li>
        <li><b>EIGRP (Enhanced Interior Gateway Routing Protocol)</b> – протокол от Cisco, который комбинирует особенности как состояния канала, так и расстояния-вектора. EIGRP обеспечивает быстрое обновление маршрутов и высокую эффективность за счет использования диффузионного алгоритма обновления (DUAL).</li>
      </ul>

      <p>Протоколы внешней используются для маршрутизации данных между автономными системами. Наиболее известный протокол данного типа — это BGP (Border Gateway Protocol). Этот протокол управляет маршрутизацией данных в интернете, обеспечивая обмен маршрутной информацией между разными автономными системами. BGP использует путь-вектор и поддерживает сложные политики маршрутизации, что делает его крайне важным для обеспечения стабильности и эффективности глобальной сети.</p>

      <p>Каждому протоколу маршрутизации соответствует своя метрика, которая может учитывать различные параметры:</p>

      <ol>
        <li><b>Число хопов</b> - количество промежуточных маршрутизаторов, через которые проходит пакет до достижения цели.</li>
        <li><b>Задержка (Delay)</b> - время, необходимое для прохождения пакета по маршруту.</li>
        <li><b>Пропускная способность (Bandwidth)</b> - максимальная скорость передачи данных по маршруту.</li>
        <li><b>Надежность (Reliability)</b> - вероятность успешной передачи данных по маршруту.</li>
        <li><b>Загруженность (Load)</b> - текущее использование маршрута.</li>
      </ol>

      <p>Современные протоколы маршрутизации включают механизмы обнаружения и восстановления отказов. Это позволяет сети оставаться работоспособной даже при сбоях в отдельных маршрутизаторах или каналах связи. Основные подходы - автоматическое обновление таблиц маршрутизации и построение альтернативных маршрутов.</p>

      <p>Не стоит забывать и про обеспечение безопасности маршрутизации. Протоколы маршрутизации могут использовать механизмы аутентификации, чтобы гарантировать, что обновления маршрутов поступают от доверенных источников. Применяется фильтрациф маршрутов - ограничение принятия или распространения определенных маршрутов для предотвращения случайных или злонамеренных изменений в таблицах маршрутизации. Также необходимо периодически проводить мониторинг оборудования и аудит безопасности всей сети во избежание инцидентов информационной базопасности.</p>
      <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}