{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 8. Протоколы Telnet и SSH.</h1>

      <p>Telnet — это сокращение от Terminals NETwork, протокол виртуального терминала. Обычно используется для возможности установки соединения с удаленным устройством для администрирования. Словом telnet часто называют утилиты для клиентской части. Протокол работает на прикладном уровне OSI, порт 23. Описан в RFC854.</p>
      <img src="{% static 'knowledge_base/telnet1.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
      <p>Нет четкого понятия клиент-сервер, протокол симметричен, хотя обычно есть сервер для подключения клиентов и сами клиенты. Чаще всего используется для управления сетевыми устройствами (коммутаторы, телефонные станции и др.), а также для подключения к различным операционным системам (windows, linux и прочим) для их удаленного администрирования. Также с помощью telnet можно оперировать ftp-сессиями, управлять работой протоколов электронной почты и другими. С помощью telnet можно даже, например, подключиться к http-серверу (по порту 80, без шифрования) и получить данные веб-страницы. Именно этот протокол используется в бэкенде нашей виртуальной лаборатории.</p>
      <p>В стандартном протоколе не предусмотрено шифрования, проверки подлинности, т.е. протокол довольно беззащитен. Для обеспечения безопасности telnet стоит применять только в защищенных сетях или использовать иные протоколы со встроенной в них защитой (например SSH). Но при этом чаще всего именно telnet является включенной по умолчанию опцией для управления коммутаторами и прочими сетевыми устройствами</p>
      <img src="{% static 'knowledge_base/telnet2.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
      <p>С помощью telnet можно даже передавать такие нестандартные вещи, как ASCII анимацию. В этом можно убедиться, набрав команду: telnet towel.blinkenlights.nl (стоит учесть, что в ОС Windows telnet-клиент по умолчанию выключен, необходимо его установить через установку и удаление компонентов Windows или воспользоваться альтернативами, например Putty).</p>
      <img src="{% static 'knowledge_base/telnet3.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
      <p>В telnet по умолчанию используется только символы таблицы ASCII и стандартные опции, но системы могут «договориться» передавать данные в бинарном режиме и включать дополнительные опции. Варианты ввода: построчный и посимвольный.</p>
      <p>SSH — Secure SHell. Как видно из названия — в отличие от telnet разрабатывался изначально как защищенный. Шифруется весь трафик. Используется для удаленного администрирования, передачи файлов, создания туннелируемых соединений. Протокол работает на прикладном уровне OSI, порт 22.</p>
      <img src="{% static 'knowledge_base/ssh1.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
      <p>Варианты аутентификации:</p>
      <ol>
        <li>По паролю: при подключении генерируется общий ключ</li>
        <li>По ключевой паре: ключевая пара сгенерирована заранее и распространена на клиент и сервер</li>
        <li>По IP-адресу Используется алгоритм RSA/DSA. Есть возможность использовать сжатия данных. В SSH (v2) в отличие от протокола telnet, подключиться к сессии и считать данные невозможно.</li>
      </ol>

      <p>Для работы SSH необходим сервер и клиент. Обычно используется по умолчанию для управления *NIX (linux и прочими) системами. Для проверки работы SSH можно установить (или запустить) любой linux дистрибутив (например ubuntu) в виртуальной машине, а затем подключиться к нему через SSH клиент, например Putty. Возможно, что для SSH подключения в процессе установки системы нужно будет выбрать опцию OpenSSH Server. Логин и пароль для подключения — это тот пользователь, который входит и в локальную систему.</p>
      <p>Протокол SSH можно использовать и для передачи файлов (SCP, secure copy). Для этого можно использовать как консоль linux, так и графические приложения, например WinSCP. Кроме передачи файлов, с ними можно выполнять различные действия.</p>
      <img src="{% static 'knowledge_base/winscp.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
      <p>Протокол SSH можно также использовать для туннелирования соединения, почти как VPN. Данные, передаваемые в этом туннеле будет зашифрованы и недоступны для окружающих. Причем такие соединения можно перенаправлять через любые порты, например 443, если где-то запрещено использование других портов (например публичных WiFi точках).</p>
      <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}