{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 0. Знакомство с виртуальной лабораторией.</h1>
      <p>Добро пожаловать в базу знаний виртуальной лаборатории сетевых технологий! Это её нулевая глава – здесь вы узнаете, для чего нужно это веб-приложение, что оно умеет и как с ним взаимодействовать.</p>
      <p>После авторизации в системе вы попадаете на главный экран веб-приложения. Здесь вам доступно три кнопки: «Перейти к удалённому доступу», «Открыть PNetLab» и «Открыть базу знаний».</p>
      <img src="{% static 'knowledge_base/mainpage.png' %}" class="img-fluid mb-4 mx-auto d-block w-100">
      <p>Если вы читаете это, значит, с третьей кнопкой уже разобрались:) Давайте разберёмся, что вы можете сделать с помощью первых двух.</p>
      <p>Нажимая кнопку <b>«Перейти к удалённому доступу»</b>, вы попадаете на страницу со списком устройств. Это может быть как реальное оборудование, так и виртуальные машины с образами операционных систем.</p>
      <img src="{% static 'knowledge_base/devpage.png' %}" class="img-fluid mb-4 mx-auto d-block w-100">
      <p>Вы можете выбрать интересующее вас устройство и получить к нему удалённый доступ прямо в окне браузера. Никакого дополнительного ПО устанавливать не нужно – всё взаимодействие происходит внутри вашего Google Chrome, Safari, Firefox или любого другого браузера, которым вы привыкли пользоваться.</p>
      <img src="{% static 'knowledge_base/mikrotik.png' %}" class="img-fluid mb-4 mx-auto d-block w-75">
      <p>Вы можете написать в поле для ввода любую команду и проверить её работу. Выполняйте команды вдумчиво – помните, что имеете дело с реальным оборудованием. Если вам требуются повышенные права, пароли для привилегированных режимов или какие-либо другие данные – обязательно спросите разрешения у преподавателя или администратора и обоснуйте эту необходимость.</p>
      <p>Не забывайте вводить строку выхода по завершении работ на оборудовании. Строка выхода указана под полем для ввода – обычно это quit или exit. Так вы сразу освободите устройство для других пользователей, в ином случае оно будет занято ещё некоторое время (не более 15 минут).</p>
      <p>Кнопка <b>«Открыть PNetLab»</b> переносит вас в систему эмуляции PNetLab. Вам не требуется дополнительная авторизация – ваша учётная запись едина внутри всего веб-приложения и предоставляет доступ в любой его раздел. В PNetLab вы можете проводить эксперименты на эмулируемом оборудовании, выполнять лабораторные работы и собирать сложные топологии.</p>
      <p>В PNetLab можно запускать виртуальные роутеры, коммутаторы, Docker-образы и даже ПК. Вот пример запущенного Linux прямо внутри системы эмуляции:</p>
      <img src="{% static 'knowledge_base/linuxpnet.png' %}" class="img-fluid mb-4 mx-auto d-block w-75">
      <p>Здесь вам предоставляется полная свобода действий, и не стоит бояться что-то сломать – всегда можно создать новую лабораторную работу или откатить предыдущее действие:) Словом, не бойтесь экспериментировать!</p>
      <p>Чтобы вернуться обратно на главную страницу веб-приложения, нужно нажать на имя пользователя в правом верхнем углу, а затем на кнопку Logout.</p>
      <img src="{% static 'knowledge_base/pnetlogout.png' %}" class="img-fluid mb-4 mx-auto d-block w-25">
      <p>Надеемся, вам будет удобно пользоваться виртуальной лабораторией! Не стесняйтесь предлагать улучшения или озвучивать пожелания к системе, её развитие поможет будущим студентам курсов по сетевым технологиям.</p>

      <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}