{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 2. Знакомство с оборудованием.</h1>
      <p>Сетевое оборудование – это техническая основа построения и функционирования современных информационных систем. Особенно значимыми элементами сетевой инфраструктуры являются маршрутизаторы и коммутаторы, с которыми вам предстоит работать в течение обучения и, возможно, дальнейшей профессиональной деятельности. Несмотря на кажущуюся схожесть, эти устройства выполняют различные функции и находятся на разных уровнях сетевой модели OSI. Подробно эта модель будет описана в следующих главах базы знаний.</p>
      <p><b>Коммутаторы</b> работают на втором уровне модели OSI – канальном уровне (Data Link Layer). Они предназначены для соединения устройств в одном сегменте сети и управления потоком данных внутри одной или нескольких локальных сетей (LAN). Основная задача коммутатора – направление пакетов данных между устройствами внутри сети, используя MAC-адреса устройств для точной доставки данных конкретному получателю.</p>

      <figure class="text-center">
        <img src="{% static 'knowledge_base/switch.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Коммутатор</figcaption>
      </figure>

      <p>У использования коммутаторов в большой сети есть несколько преимуществ:</p>

      <ul>
        <li>Уменьшение коллизий в сети за счёт создания отдельных сегментов для каждого подключения.</li>
        <li>Повышение производительности сети за счёт одновременной обработки множества трафика.</li>
        <li>Поддержка функций сетевой безопасности и управления через настройку VLAN (виртуальных локальных сетей).</li>
      </ul>

      <p><b>Маршрутизаторы (роутеры)</b> оперируют на третьем уровне модели OSI – сетевом уровне (Network Layer). Это устройства, предназначенные для передачи данных между различными сетями, например, между несколькими LAN или между LAN и WAN. Маршрутизаторы используют IP-адреса для определения конечного пункта доставки данных и выбора наилучшего маршрута для их передачи через сеть. Вы наверняка привыкли к тому, что маршрутизатор выглядит как небольшая «коробка» с 2-4 антеннами, но на самом деле роутеры внешне могут быть очень похожи на коммутаторы:</p>

      <figure class="text-center">
        <img src="{% static 'knowledge_base/router.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Маршрутизатор</figcaption>
      </figure>

      <p>Основные особенности и функции маршрутизаторов:</p>

      <ul>
        <li>Маршрутизация и пересылка пакетов данных между различными сетями.</li>
        <li>Возможность использования различных протоколов маршрутизации (например, OSPF, EIGRP, BGP) для нахождения оптимального пути.</li>
        <li>Обеспечение безопасности сетевого трафика через настройки файервола и NAT (Network Address Translation).</li>
      </ul>

      <p>Хотя маршрутизаторы и коммутаторы часто используются вместе для построения сложных сетей, их функции и возможности различаются. Коммутаторы работают на уровне канала (уровень 2), в то время как маршрутизаторы – на сетевом уровне (уровень 3). Коммутаторы используют MAC-адреса для передачи данных внутри сети, маршрутизаторы же используют IP-адреса для определения маршрутов между различными сетями. Коммутаторы предназначены для управления трафиком внутри одной сети, а маршрутизаторы направляют трафик между различными сетями и обеспечивают его доставку к конечному получателю в другой сети.</p>
      <p>Основные производители маршрутизаторов и коммутаторов: компании Cisco, QTECH, MikroTik, TP-Link и другие. В нашем веб-приложении вы можете взаимодействовать с сетевым оборудованием различных производителей напрямую или через систему PNetLab.</p>
      <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}