{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 7. Методы обеспечения безопасности сетевого оборудования</h1>

      <p>Атака на сеть может иметь разрушительные последствия с потерей времени и средств в результате повреждения или хищения важной информации и ресурсов. Злоумышленники могут получить доступ к сети, используя уязвимости программного обеспечения, атаки на аппаратное обеспечение, подбор имени пользователя и пароля. Хакер, получивший доступ к сети, сразу становится источником четырех видов угроз:</p>
      <ul>
          <li>Кража информации</li>
          <li>Утечка данных и их неправомерное использование</li>
          <li>Кража персональных данных</li>
          <li>Прекращение обслуживания</li>
      </ul>

      <p><b>Уязвимость</b> — степень незащищенности, свойственная каждой сети и устройству. Некоторая степень уязвимости присуща маршрутизаторам, коммутаторам, настольным компьютерам, серверам и даже устройствам безопасности. Как правило, атакам подвержены такие оконечные устройства, как серверы и настольные компьютеры. Существует три основных типа уязвимостей:</p>
      <ul>
          <li>Технологические уязвимости могут включать в себя слабости протокола TCP/IP, слабые места операционной системы и слабости сетевого оборудования.</li>
          <li>Уязвимости конфигурации могут включать незащищенные учетные записи пользователей, системные учетные записи с ненадежными паролями, неправильно настроенные службы, параметры по умолчанию и неправильно настроенное сетевое оборудование.</li>
          <li>Уязвимости политики безопасности могут включать в себя отсутствие письменной политики безопасности, отсутствие проверки подлинности, неприменение элементов управления доступом, установку программного и аппаратного обеспечения и изменения, не соответствующие политике, а также отсутствие плана аварийного восстановления.</li>
      </ul>

      <p>Злоумышленник может блокировать доступ к сетевым ресурсам, если их можно повредить на физическом уровне. Имеется четыре <b>класса угроз</b>:</p>
      <ul>
          <li>Угрозы для аппаратного обеспечения — физическое повреждение серверов, маршрутизаторов, коммутаторов, кабельных линий и рабочих станций.</li>
          <li>Угрозы со стороны окружающей среды — предельные температуры (слишком высокие или слишком низкие) или крайние значения влажности.</li>
          <li>Электрические угрозы — всплески напряжения, недостаточное напряжение в электрической сети, колебания напряжения и полное отключение электропитания.</li>
          <li>Эксплуатационные угрозы — ненадлежащее обращение с ключевыми электрическими компонентами (электростатический разряд), нехватка важных запасных деталей, неправильная прокладка кабелей и ненадлежащая маркировка. Для решения этих проблем необходимо разработать и осуществить хороший план обеспечения физической безопасности.</li>
      </ul>

      <p><b>Вредоносное ПО</b> ― это вредоносное программное обеспечение (или вредоносный код). Такой код или ПО разрабатывается с целью повредить, разрушить, украсть данные либо причинить вред или совершить незаконные действия в отношении данных, узлов или сетей. Ниже перечислены типы вредоносных программ:</p>
      <ul>
          <li>Вирус — это тип вредоносного ПО, который распространяется путем внедрения своей копии в другую программу, заражая ее и становясь ее частью. Вирусы распространяются с одного компьютера на другой, инфицируя все объекты на своем пути.</li>
          <li>Черви — Похожи на вирусы тем, что они копируют свои функциональные части и могут нанести не меньший ущерб. В отличие от вирусов, для распространения которых обязательно должен быть зараженный файл, черви - отдельные программы, распространяющиеся без участия программы-носителя или человека.</li>
          <li>Троянские кони — Они маскируются под легитимные программы. В отличие от вирусов и червей такие вредоносные программы не распространяются путем заражения других файлов и не реплицируют сами себя. Они самовоспроизводятся. Обязательным условием для их распространения является открытие пользователем почтового вложения или загрузка и запуск файла из Интернета.</li>
      </ul>

        <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #1B2A5E;
            color: white;
        }
        td {
            background-color: #f2f2f2;
        }
    </style>

      <table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Виды действий троянов</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Удаленный доступ</td>
            <td>Троян делает возможным несанкционированный удаленный доступ.</td>
        </tr>
        <tr>
            <td>Отправка данных</td>
            <td>Троян предоставляет злоумышленнику конфиденциальные данные, например пароли.</td>
        </tr>
        <tr>
            <td>Разрушение данных</td>
            <td>Троян повреждает файлы или удаляет их.</td>
        </tr>
        <tr>
            <td>Прокси-сервер</td>
            <td>Троян использует компьютер жертвы как источник для новых атак и противоправных действий.</td>
        </tr>
        <tr>
            <td>FTP</td>
            <td>Троян делает возможным несанкционированный обмен файлами на конечных устройствах.</td>
        </tr>
        <tr>
            <td>Вывод из строя защитного ПО</td>
            <td>Троян останавливает работу антивирусных программ или брандмауэров.</td>
        </tr>
        <tr>
            <td>DoS-атака</td>
            <td>Троян замедляет обмен данными по сети или полностью блокирует его.</td>
        </tr>
        <tr>
            <td>Кейлогер</td>
            <td>Троян активно пытается украсть конфиденциальную информацию, такую как номера кредитных карт, записывая нажатия клавиш, введенные в веб-форму.</td>
        </tr>
    </tbody>
      </table>

        <br><p>Помимо атак с использованием вредоносного кода сети также могут стать целью различных сетевых атак. Сетевые атаки можно разделить на три основные категории:</p>
<ul>
    <li>Разведывательные атаки — обнаружение и сопоставление систем, служб или уязвимостей.</li>
    <li>Атаки доступа — несанкционированные неправомерные действия с данными, доступ к системе или использование прав пользователя.</li>
    <li>Отказ в обслуживании — отключение или повреждение сетей, систем или служб. Злоумышленники могут использовать инструменты Интернета, например, программные средства nslookup и whois, которые позволяют с легкостью определить пространство IP-адресов, назначенное определенной корпорации или юридическому лицу. После определения пространства IP-адресов злоумышленник может отправить команду ping для проверки связи с общедоступными IP-адресами, чтобы выявить активные адреса.</li>
</ul>

<p>Известны уязвимости в сервисах аутентификации, FTP- и веб-сервисах, позволяющие получить доступ к учетным записям, базам данных и другой конфиденциальной информации. Атаки доступа можно разделить на четыре типа:</p>
<ul>
    <li>Атаки с паролем — Реализованы с использованием грубой силы, троянов и снифферов пакетов.</li>
    <li>При атаке с злоупотреблением доверием хакер использует несанкционированные привилегии для получения доступа к системе, что может поставить под угрозу цель.</li>
    <li>Переадресация портов — хакер использует взломанную систему в качестве базы для атак на другие целевые объекты. Например, используя SSH-протокол для подключения к скомпрометированному хосту А. Хост А является доверенным хостом для хоста В, и, следовательно, хакер теперь может использовать для доступа к этому хосту другой протокол, например Telnet.</li>
    <li>Атака через посредника — хакер располагается между двумя доверяемыми объектами, чтобы читать, изменять или перенаправлять данные, которыми они обмениваются.</li>
</ul>

<p>Атаки типа <b>DoS</b> широко распространены, и их последствия устранить труднее всего. Однако ввиду простоты реализации и потенциально существенного вреда от них администраторы безопасности должны уделять таким атакам особое внимание.</p>
<ul>
    <li>DoS-атаки могут принимать различные формы. Например, потребляя системные ресурсы, мешают авторизованным пользователям использовать службы. Для предотвращения таких атак важно следить, чтобы на компьютере были установлены актуальные обновления системы безопасности.</li>
    <li>DoS-атаки представляют высокий риск, поскольку могут легко нарушить обмен информацией и вести к крупным потерям времени и средств. Проводить такие атаки относительно несложно.</li>
    <li>Распределенные атаки типа DDoS похожи на DoS-атаки, но проводятся скоординировано из нескольких источников. Например, злоумышленник создает сеть зараженных хостов, т. н. ботнет.</li>
</ul>

<p>Под потерей или утечкой данных подразумевается намеренная или ненамеренная потеря, кража или утечка данных во внешний мир. Потеря данных может привести к следующим последствиям:</p>
<ul>
    <li>ущерб для бренда и репутации</li>
    <li>потеря конкурентного преимущества</li>
    <li>потеря заказчиков</li>
    <li>потеря прибыли</li>
    <li>разбирательства в суде/юридические последствия</li>
    <li>значительные затраты и усилия по восстановлению после утечки</li>
</ul>
<p>Специалисты по сетевой безопасности должны защищать данные организации. Необходимо внедрять различные техники предотвращения потери данных (Data Loss Prevention, DLP).</p>

        <p>Информационная безопасность занимается защитой информации и информационных систем от несанкционированного доступа, использования, раскрытия, повреждения, изменения или уничтожения. Большинство организаций придерживается триады КЦД, состоящей из трех компонентов информационной безопасности.</p>
<ul>
    <li><b>Конфиденциальность</b> — только авторизованные лица, объекты или процессы могут получить доступ к конфиденциальной информации. Для шифрования и дешифрования данных требуются алгоритмы шифрования, такие как AES.</li>
    <li><b>Целостность</b> — защита данных от несанкционированного изменения. Это требует использования криптографических алгоритмов хеширования, таких как SHA.</li>
    <li><b>Доступность</b> — авторизованные пользователи должны иметь непрерывный доступ к важным ресурсам и данным. Это требует внедрения резервных сервисов, шлюзов и каналов связи.</li>
</ul>

<p>Чтобы снизить уровень сетевых атак, сначала необходимо обеспечить безопасность устройств, включая маршрутизаторы, коммутаторы, серверы и хосты. Одним из решений является использование углубленного подхода к обеспечению безопасности, также известного как многоуровневый подход. Такой подход предполагает совместную работу сетевых устройств и сервисов. Для защиты пользователей и активов от угроз TCP/IP реализовано несколько устройств и служб безопасности.</p>
<ul>
    <li>VPN (защищенная сеть)</li>
    <li>Межсетевой экран (ASA)</li>
    <li>IDS/IPS (системы обнаружения и предотвращения вторжений)</li>
    <li>ESA/WSA (email/web security appliance, Cisco)</li>
    <li>Сервер AAA (Authentication, Authorization, Accounting — аутентификация, авторизация и аудит)</li>
</ul>

<p>Резервное копирование данных — эффективный способ защиты данных от потери. Регулярно выполняйте резервное копирование, как определено в политике безопасности. Резервные копии данных обычно хранятся отдельно, чтобы защитить носитель с резервными копиями на случай, если что-либо произойдет в основном помещении.</p>

<p>По мере появления нового вредоносного ПО предприятиям рекомендуется постоянно следить за обновлением антивирусного ПО до последних версий. Наиболее действенный метод минимизации последствий атаки вирусов — загрузить обновления для системы безопасности с сайта поставщика ОС и установить соответствующие обновления на все уязвимые копии систем. Одно из решений для управления критически важными исправлениями безопасности заключается в том, что все конечные системы автоматически загружают обновления.</p>

<p>Межсетевой экран ставится между двумя (или более) сетями и контролирует трафик между ними, а также позволяет предотвратить несанкционированный доступ. Межсетевой экран может позволить внешним пользователям управлять доступом к определенным службам. Например, серверы, доступные внешним пользователям, обычно размещаются в специальной сети, которая называется демилитаризованной зоной (DMZ). DMZ позволяет администратору применять определенные политики для хостов, подключенных к этой сети.</p>

        <figure class="text-center">
        <img src="{% static 'knowledge_base/DMZ.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Пример использования DMZ</figcaption>
      </figure>

        <p>Решения для межсетевых экранов собраны в различные комплекты. В брандмауэрах используются различные методы для определения разрешения или запрета доступа к сети. В этот список входят следующие продукты:</p>
<ul>
    <li>Фильтрация пакетов — запрет или разрешение доступа на основе IP- или MAC-адресов.</li>
    <li>Фильтрация по приложениям — запрет или разрешение доступа для конкретных типов приложений на основе номеров портов.</li>
    <li>Фильтрация по URL-адресам — запрет или разрешение доступа к веб-сайтам на основе конкретных URL-адресов или ключевых слов.</li>
    <li>Анализ пакетов с учетом состояний соединений (SPI) — входящие пакеты должны представлять собой легитимные отклики на запросы внутренних узлов. Незапрошенные пакеты блокируются, если они не разрешены в явном виде. SPI также предоставляет возможность распознавать и блокировать конкретные типы атак, например атаку типа «отказ в обслуживании» (DoS-атака).</li>
</ul>

<p>Для защиты от быстро развивающихся атак вам могут потребоваться экономически эффективные системы обнаружения и предотвращения, интегрированные в точки входа и выхода в сети. Технологии IDS и IPS реализуются в сети посредством сенсоров. Сенсорами IDS или IPS могут быть разные устройства:</p>
<ul>
    <li>маршрутизатор, на который установлено программное обеспечение IPS Cisco IOS;</li>
    <li>специализированное устройство, выполняющее функции IDS или IPS;</li>
    <li>сетевой модуль, установленный в многофункциональном устройстве обеспечения безопасности (ASA), коммутаторе или маршрутизаторе.</li>
</ul>

<p>Для обнаружения вредоносных действий IPS использует набор правил, называемый сигнатурами, с целью выявления шаблонов в сетевом трафике. Технологии IDS и IPS могут обнаруживать атомарные шаблоны сигнатур (один пакет) или составные шаблоны сигнатур (несколько пакетов).</p>

<p>На рисунке показано, как IPS управляет запрещенным трафиком.</p>
<ol>
    <li>Злоумышленник посылает пакет, предназначенный целевому хосту.</li>
    <li>IPS перехватывает трафик и оценивает его относительно угроз и сконфигурированных политик.</li>
    <li>IPS пересылает сообщения журнала на консоль управления.</li>
    <li>IPS отбрасывает пакет.</li>
</ol>

        <figure class="text-center">
        <img src="{% static 'knowledge_base/firewall.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Пример использования IPS</figcaption>
      </figure>

        <p>Оконечное устройство, или узел, представляет собой отдельную компьютерную систему или устройство, которое выступает в роли клиента сети. К наиболее распространенным оконечным устройствам относятся ноутбуки, настольные компьютеры, серверы и смартфоны и планшеты. Защита оконечных устройств — одна из наиболее сложных задач, входящих в обязанности администратора сети, поскольку в данном случае имеет значение человеческий фактор. Компании необходимо разработать и тщательно задокументировать соответствующие политики и ознакомить с ними сотрудников. Сотрудников необходимо обучить правильно использовать сеть. Политики зачастую подразумевают использование антивирусного ПО и меры предотвращения несанкционированного вторжения на узел. Комплексные решения для защиты оконечных устройств также используют функции контроля доступа к сети.</p>

        <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}