{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 6. Коммутация и VLAN.</h1>
      <p>Коммутация — это процесс передачи данных между устройствами внутри локальной сети (LAN) с использованием коммутаторов. Коммутаторы работают на втором уровне модели OSI (канальный уровень) и используют MAC-адреса для определения получателей данных. Основная функция коммутатора — принимать входящие кадры данных, анализировать их MAC-адреса и направлять кадры к соответствующим портам, что позволяет передавать данные только к целевым устройствам. Этот процесс в самом общем случае включает несколько этапов:</p>

      <ol>
        <li>Когда коммутатор получает кадр данных, он записывает MAC-адрес отправителя и порт, с которого был получен кадр, в свою таблицу MAC-адресов. Это позволяет коммутатору отслеживать, какие устройства подключены к каким портам.</li>
        <li>Коммутатор проверяет MAC-адрес получателя в таблице MAC-адресов. Если адрес найден, коммутатор отправляет кадр на соответствующий порт. Если адрес не найден, коммутатор отправляет кадр на все порты, кроме порта отправителя (широковещательная передача).</li>
        <li>Коммутатор блокирует кадры, если MAC-адрес отправителя и получателя находятся на одном и том же порту, чтобы предотвратить ненужную передачу данных.</li>
      </ol>

      <p>Коммутаторы бывают нескольких типов, в зависимости от их функциональности и области применения:</p>

      <ul>
        <li><b>Неуправляемые коммутаторы (Unmanaged Switches)</b> не требуют настройки и управления. Они работают по принципу plug-and-play и подходят для небольших сетей с ограниченным количеством устройств.</li>
        <li><b>Управляемые коммутаторы (Managed Switches)</b> предлагают расширенные возможности настройки и управления, включая поддержку VLAN, QoS (Quality of Service), мониторинг трафика и безопасность. Они используются в крупных и сложных сетях, где требуется высокий уровень контроля и гибкости.</li>
        <li><b>Коммутаторы уровня ядра (Core Switches)</b> используются в центре сети для объединения нескольких подсетей и обеспечения быстрого обмена данными между ними. Они обычно поддерживают высокую пропускную способность и расширенные функции маршрутизации.</li>
        <li><b>Коммутаторы уровня доступа (Access Switches)</b> используются для подключения конечных устройств (например, компьютеров, принтеров) к сети. Они обеспечивают базовую функциональность коммутации и могут поддерживать такие функции, как PoE (Power over Ethernet).</li>
      </ul>

      <p>Одна из часто используемых функций коммутатора — <b>VLAN (Virtual Local Area Network)</b> — позволяет оперировать различными виртуальными сегментами сети. Например можно разделить один большой коммутатор по группам портов на несколько маленьких «виртуальных коммутаторов» в пределах одного физического с помощью разных VLAN для изоляции отделов.</p>

      <img src="{% static 'knowledge_base/vlan1.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">

      <p>Ещё один вариант — создание виртуальной сети для устройств, подключенных к разным коммутаторам. Часто используется для «прокидывания» определенной сети через несколько устройств, например если один отдел разъехался в несколько комнат с разными коммутаторами, но их необходимо объединить в одну изолированную сеть. Таким же образом можно передавать транзитный трафик между коммутаторами.</p>

      <img src="{% static 'knowledge_base/vlan2.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">

      <p>Кроме проводной ЛВС часто требуется разделение на виртуальные подсети и с помощью WiFi, например гостевая сеть для клиентов компании, закрытая сеть для ИТ-инфраструктуры (телефония, камеры и прочее оборудование), отдельные сети для различных отделов и так далее. Для этого необходимы точки доступа с поддержкой VLAN и мульти-SSID.</p>

      <img src="{% static 'knowledge_base/vlan3.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">

      <p>Также с помощью VLAN и других функций коммутатора возможна изоляция портов (все клиенты видят сервер, но не видят друг друга), подключение 1 внешнего VLAN к 2 и более VLAN внутри коммутатора, вложение VLAN меток в другой VLAN (QinQ) — удобная функция для передачи множества меток через множество устройств всего через 1 VLAN. По умолчанию в коммутаторах обычно есть только VLAN 1, в который объединены все порты без каких либо ограничений. Операционные системы *NIX обычно поддерживают работу с VLAN без особых проблем, в ОС Windows можно организовать либо драйвером сетевого устройства либо вручную через PowerShell.</p>
      <p>Устройства Cisco, а также некоторые другие поддерживают так называемый Voice VLAN. Он специально разработан для передачи голосового трафика. В данном случае происходит разделение голосового и трафика данных, приоритезация голосовых пакетов для улучшения качества звонков, повышается безопасность, т.к. голос идет в отдельном изолированном VLAN. Для определения устройствами какой VLAN для чего использовать есть два протокола – Cisco Discovery Protocol (CDP) для Cisco и Link Layer Discovery Protocol (LLDP) для других вендоров.</p>
      <p>Почти все IP-телефоны имеют встроенный мини-свитч на 2 порта для подключения компьютера в сеть за телефоном и позволяют разделять голосовой и трафик данных: на телефон приходит некий «транк» состоящий из 2 VLAN (данные и голос), телефон отделяет голосовой VLAN и использует его для передачи голоса, а VLAN данных передает на 2 порт компьютеру, обеспечивая его подключением к локальной сети и Интернет.</p>

      <img src="{% static 'knowledge_base/vlan4.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">

      <p>Примеры разделения по VLAN:</p>

      <img src="{% static 'knowledge_base/vlan5.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
      <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}