{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 3. Модель OSI и TCP/IP.</h1>


      <p><b>Модель OSI</b> (Open Systems Interconnection) представляет собой концептуальную модель, разработанную Международной организацией по стандартизации (ISO), которая демонстрирует и стандартизирует взаимодействия различных систем связи через семь абстрактных уровней, каждый из которых служит определенной функции. Далее будут рассмотрены основы модели OSI и её применение в современных сетевых технологиях.</p>
      <p>Модель состоит из семи взаимосвязанных уровней. Рассмотрим каждый из них подробнее.</p>
      <img src="{% static 'knowledge_base/osi.png' %}" class="img-fluid m-5 mx-auto d-block w-50">
      <p><b>Физический уровень.</b> Единицей нагрузки (PDU, Protocol Data Unit) здесь является бит. Кроме единиц и нулей физический уровень не знает ничего. На этом уровне работают провода, патч-панели, сетевые концентраторы (хабы, которые сейчас уже сложно найти в привычных нам сетях), сетевые адаптеры. Именно сетевые адаптеры и ничего более из компьютера. Сам сетевой адаптер принимает последовательность бит и передает её дальше.</p>
      <img src="{% static 'knowledge_base/physical.png' %}" class="img-fluid m-5 mx-auto d-block w-50">
      <p><b>Канальный уровень.</b> PDU – кадр (frame). На этом уровне появляется адресация. Адресом является MAC-адрес (уникальный идентификатор, присваиваемый каждой единице сетевого оборудования). Канальный уровень ответственен за доставку кадров адресату и их целостность. В привычных нам сетях на канальном уровне работает протокол ARP. Адресация второго уровня работает только в пределах одного сетевого сегмента и ничего не знает о маршрутизации – этим занимается вышестоящий уровень. Соответственно, устройства, работающие на L2 - коммутаторы, мосты и драйвер сетевого адаптера.</p>
      <img src="{% static 'knowledge_base/canal.png' %}" class="img-fluid m-5 mx-auto d-block w-50">
      <p><b>Сетевой уровень.</b> PDU – пакет (packet). Наиболее распространённым (в нашем понимании) протоколом тут является IP. Адресация происходит по IP-адресам, которые состоят из 32 битов. Протокол маршрутизируемый, то есть пакет способен попасть в любую часть сети через какое-то количество маршрутизаторов. На L3 работают маршрутизаторы.</p>
      <img src="{% static 'knowledge_base/netosi.png' %}" class="img-fluid m-5 mx-auto d-block w-50">
      <p><b>Транспортный уровень.</b> PDU – сегмент (segment)/датаграмма (datagram). На этом уровне появляются понятия портов. Тут трудятся протоколы TCP и UDP – они отвечают за прямую связь между приложениями и за надежность доставки информации. Например, TCP умеет запрашивать повтор передачи данных в случае, если данные приняты неверно или не все. Также TCP может менять скорость передачи данных, если сторона приёма не успевает принять всё (TCP Window Size).</p>
      <img src="{% static 'knowledge_base/transport.png' %}" class="img-fluid m-5 mx-auto d-block w-75">
      <p><b>Сеансовый уровень</b> управляет сессиями между приложениями, установлением, управлением и завершением соединений. Протоколы, такие как NetBIOS и L2TP, работают на этом уровне для обеспечения устойчивости и восстановления сетевых сессий. PDU – данные (data).</p>
      <img src="{% static 'knowledge_base/seans.png' %}" class="img-fluid m-5 mx-auto d-block w-50">
      <p><b>Уровень представления</b> транслирует данные из одного формата в другой, обеспечивая, например, сжатие и шифрование данных. Протоколы, такие как JPEG, MPEG и ASCII, могут быть использованы для подготовки данных к передаче через сеть. PDU – данные (data).</p>
      <p><b>Прикладной уровень</b>, находящийся на вершине модели OSI, непосредственно взаимодействует с приложениями пользователя. Он обеспечивает широкий спектр услуг, таких как электронная почта (SMTP), передача файлов (FTP) и протоколы веб-сервисов (HTTP). Этот уровень делает сетевые службы доступными для конечных пользователей и играет ключевую роль в управлении интерфейсами и доступностью приложений. PDU – данные (data).</p>
      <p>Один из важных процессов в модели OSI — инкапсуляция данных, которая происходит, когда данные передаются от верхнего уровня к нижнему. На каждом уровне к данным добавляется заголовок, содержащий специфическую для уровня информацию, необходимую для правильной доставки и обработки данных. При получении данных происходит процесс декапсуляции, в ходе которого каждый уровень удаляет соответствующий заголовок и передает данные следующему уровню вверх.</p>

      <figure class="text-center">
        <img src="{% static 'knowledge_base/incaps.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Инкапсуляция</figcaption>
      </figure>

      <figure class="text-center">
        <img src="{% static 'knowledge_base/decaps.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Декапсуляция</figcaption>
      </figure>

      <p>Модель OSI часто сравнивают с более практичной и широко используемой моделью <b>TCP/IP</b>, которая имеет четыре уровня: сетевой интерфейс, интернет, транспорт и прикладной. Основное отличие заключается в том, что модель TCP/IP более сфокусирована на стандартах интернета и реальном взаимодействии сетевых протоколов, в то время как модель OSI предоставляет более обобщенный и абстрактный взгляд на коммуникации.</p>
      <img src="{% static 'knowledge_base/tcpip.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">

      <p>Модель OSI служит инструментом при диагностике сетей. Если в сети что-то не работает, то гораздо проще определить уровень, на котором произошла неполадка, чем пытаться перестроить всю сеть заново.</p>
      <p>Зная архитектуру сети, гораздо проще ее строить и диагностировать. Как нельзя построить дом, не зная его архитектуры, так невозможно построить сеть, не зная модели OSI. При проектировании важно учитывать всё. Важно учесть взаимодействие каждого уровня с другими, насколько обеспечивается безопасность, шифрование данных внутри сети, какой прирост пользователей выдержит сеть без обрушения, будет ли возможно перенести сеть на другую машину и т.д. Каждый из перечисленных критериев укладывается в функции одного из семи уровней.</p>
      <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">

    </main>
  </div>

{% endblock content %}