{% extends "main/base.html" %}
{% load static %}
{%block backbutton%}
<a class="nav-link link-secondary fs-4 p-3" href="{% url 'database'%}">К списку глав</a>
{%endblock backbutton%}
{% block content%}

  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>

      <h1 class="text-body-emphasis">Глава 12. Введение в Quality of Service - QOS.</h1>
      <p><b>QoS – Quality of Service</b> – технология предоставления различным классам трафика различных приоритетов в обслуживании. Когда объем трафика превышает возможности доставки по сети, устройства помещают пакеты в очередь в памяти и удерживают их до тех пор, пока не будут доступны ресурсы передачи. Постановка пакетов в очередь приводит к задержке, поскольку новые пакеты не могут передаваться до тех пор, пока не будут обработаны предыдущие. Если число пакетов для постановки в очередь продолжает расти, память устройства заполняется, и пакеты отбрасываются. Метод QoS, который может помочь в решении этой проблемы, заключается в распределении данных по нескольким очередям.</p>

        <figure class="text-center">
        <img src="{% static 'knowledge_base/qos1.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Приоритезация трафика</figcaption>
      </figure>

<p>Полоса пропускания сети измеряется в количестве бит, которое можно передать за одну секунду, то есть в битах в секунду (бит/с). Затор в сети приводит к задержке. Затор в интерфейсе возникает, когда объем трафика превышает тот объем, который может быть обработан. Точки затора в сети — та область, где необходимо использовать механизмы QoS.</p>

<p>Типичные точки возникновения заторов:</p>
<ul>
    <li>агрегация</li>
    <li>несоответствие скорости</li>
    <li>передача данных из локальной сети в глобальную сеть</li>
</ul>
<img src="{% static 'knowledge_base/qos2.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
<p><b>Задержка</b> — время, которое занимает передача пакета от источника до адресата.</p>
<p>Фиксированная задержка — определенное количество времени, которое требуется конкретному процессу, например, количество времени, требуемое для помещения бита на передающий носитель.</p>
<p>Переменная задержка занимает неопределенное количество времени и зависит от таких факторов, как количество текущего трафика.</p>
<p><b>Джиттер</b> — изменение времени задержки полученных пакетов.</p>

        <table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; border: 1px solid black;">
  <thead>
    <tr style="background-color: #1b2a5f; color: white;">
      <th style="border: 1px solid black;">Задержка</th>
      <th style="border: 1px solid black;">Описание</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid black;">Задержка кодирования</td>
      <td style="border: 1px solid black;">Фиксированное время, необходимое для сжатия данных в источнике перед передачей на первое устройство, работающее по Интернету (как правило, коммутатор).</td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Задержка пакетирования</td>
      <td style="border: 1px solid black;">Фиксированное время для инкапсуляции пакета со всеми необходимыми данными заголовка.</td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Задержка в очереди</td>
      <td style="border: 1px solid black;">Изменяемый период времени, в течение которого кадр или пакет ожидает передачи по каналу.</td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Задержка сериализации</td>
      <td style="border: 1px solid black;">Фиксированный период времени, в течение которого кадр передается в канал.</td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Задержка распространения</td>
      <td style="border: 1px solid black;">Изменяемое время, необходимое для передачи кадра между источником и получателем.</td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Задержка устранения джиттера</td>
      <td style="border: 1px solid black;">Фиксированный период времени, необходимый для буферизации потока пакетов и последующей отправки их через равные интервалы.</td>
    </tr>
  </tbody>
</table>

<br><p>Без механизмов QoS чувствительные ко времени пакеты, такие как видео и голос в реальном времени, отбрасываются с той же частотой, что и данные, которые не чувствительны ко времени.</p>
<p>Когда маршрутизатор получает цифровой аудиопоток по протоколу реального времени (RTP) для передачи голоса по IP (VoIP), он компенсирует дрожание, возникающее при использовании буфера задержки воспроизведения.</p>
<p>Буфер задержки воспроизведения буферизирует эти пакеты, а затем воспроизводит их в виде устойчивого потока.</p>

        <figure class="text-center">
        <img src="{% static 'knowledge_base/qos3.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Буфер задержки: нормальные задержки</figcaption>
      </figure>

<p>Если джиттер настолько интенсивен, что приводит к выходу принимаемых пакетов из области данного буфера, пакеты вне области отбрасываются, и эти потери слышны в аудиопотоке. При небольших потерях на уровне одного пакета процессор цифровых сигналов применяет интерполяцию, восстанавливая нормальное звучание без заметных на слух дефектов. Вместе с тем, если джиттер превышает возможности DSP по компенсации потерянных пакетов, проблемы со звуком будут слышны.</p>

        <figure class="text-center">
        <img src="{% static 'knowledge_base/qos4.png' %}" class="img-fluid mb-4 mx-auto d-block w-50">
        <figcaption>Буфер задержки: высокие задержки</figcaption>
      </figure>

<p>Существует три модели реализации политики качества обслуживания. На самом деле качество обслуживания (QoS) в сети реализуется с помощью моделей IntServ или DiffServ.</p>
<p>Модель IntServ обеспечивает максимальную гарантированную полосу пропускания, однако очень требовательна к ресурсам и, следовательно, ограничивает масштабируемость. DiffServ — менее ресурсоемкая и более масштабируемая модель. Иногда эти модели реализуются вместе для обеспечения необходимого уровня качества обслуживания.</p>

        <table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; border: 1px solid black;">
  <thead>
    <tr style="background-color: #1b2a5f; color: white;">
      <th style="border: 1px solid black;">Модель</th>
      <th style="border: 1px solid black;">Описание</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid black;">Модель без гарантированной доставки</td>
      <td style="border: 1px solid black;">
        <ul>
          <li>По сути, не является реализацией, поскольку явная настройка качества обслуживания отсутствует.</li>
          <li>Используется, когда гарантированная полоса пропускания не требуется.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Интегрированные сервисы (IntServ)</td>
      <td style="border: 1px solid black;">
        <ul>
          <li>Обеспечивает очень высокое качество обслуживания для IP-пакетов с гарантированной доставкой.</li>
          <li>Определяет процесс сигнализации для приложений, которые могут уведомлять сеть о том, что им требуется особое качество обслуживания на определенный период и для этого необходимо зарезервировать пропускную способность.</li>
          <li>Однако модель IntServ может серьезно ограничивать масштабируемость сети.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Дифференцированные услуги (DiffServ)</td>
      <td style="border: 1px solid black;">
        <ul>
          <li>Предоставляет высокую масштабируемость и адаптивность в реализации качества обслуживания.</li>
          <li>Сетевые устройства распознают классы трафика и предоставляют различные уровни качества обслуживания для разных классов трафика.</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<br><h3>Best effort</h3>
<p>Базовая модель для Интернета обеспечивает негарантированную доставку пакетов. Модель без гарантированной доставки обращается со всеми сетевыми пакетами одинаковым образом, поэтому экстренное голосовое сообщение обрабатывается так же, как и текст, картинки во вложениях и т.д.</p>

<h3>IntServ</h3>
<p>IntServ обеспечивает сквозное качество обслуживания, которое требуется приложениям реального времени. Явно управляет сетевыми ресурсами для обеспечения качества обслуживания отдельных потоков или микропотоков. В этой модели в качестве базовых компонентов используются механизмы резервирования ресурсов и контроля доступа, которые позволяют определять политику QoS и обеспечивать ее выполнение. Использует ориентированный на подключение подход к QoS. Каждое отдельное сообщение должно явно объявлять в сети свой дескриптор трафика и запрошенные ресурсы. Пограничный маршрутизатор осуществляет контроль допуска, чтобы убедиться, что в сети имеются достаточные ресурсы. Приложение запрашивает конкретный тип обслуживания у сети перед отправкой данных, сообщает свой профиль трафика и запрашивает конкретный тип обслуживания, который может включать требования к пропускной способности и задержкам.</p>
<p>Модель IntServ использует протокол RSVP (Resource ReSerVation Protocol) для уведомления устройств на пути следования трафика по сети о потребностях в QoS. Если устройства на пути трафика способны зарезервировать необходимую пропускную способность, приложение может начать передачу. Если запрошенное резервирование на пути недоступно, приложение не отправляет данные.</p>

<h3>DiffServ</h3>
<p>Модель дифференцированных сервисов (DiffServ) определяет простой и масштабируемый механизм для классификации и управления сетевым трафиком и гарантии качества обслуживания в современных IP-сетях. Модель DiffServ не является сквозной стратегией качества обслуживания, поскольку не предоставляет сквозных гарантий. Пересылает трафик на маршрутизатор, который классифицирует потоки на агрегаты (классы) и предоставляет соответствующую политику QoS для классов. В модели DiffServ механизмы качества обслуживания применяются на уровне переходов, когда каждому классу трафика единообразно присваивается глобальное значение, что обеспечивает и гибкость, и масштабируемость.</p>
<p>DiffServ делит сетевой трафик на классы, основываясь на требованиях бизнеса. После этого каждому классу можно назначить свой уровень обслуживания. При прохождении пакетов по сети каждое сетевое устройство определяет класс пакета и обрабатывает этот пакет в соответствии с требованиями для данного класса. Модель DiffServ предусматривает выбор из нескольких уровней обслуживания.</p>

      <div class="container" id="navs_buttons">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:-1 }}" class="btn btn-primary">Предыдущая глава</a>
            </div>
            <div class="col-auto">
                <a href="?id={{ chapter_id|add:1 }}" class="btn btn-primary">Следующая глава</a>
            </div>
        </div>
      </div>
      <img src="{% static 'knowledge_base/Логотип_МИЭМ.svg' %}" class="img-fluid m-5 mx-auto d-block w-25">
    </main>
  </div>

{% endblock content %}