<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<script>
    //window.location.href = "http://kyky.6u6u.ru:8081/store/public/auth/login/offline";
    window.location.href = "http://kyky.6u6u.ru:8081/enter.php";
    // let cookie = "";
    // let allcookie = document.cookie.split('; ');
    // allcookie.forEach((s) => {
    //     if (s.startsWith("XSRF-TOKEN=")) {
    //         cookie = s.split('=')[1].replaceAll("%3D", "=");
    //     }
    // });
    // let authxhr = new XMLHttpRequest();
    // let authurl = "http://kyky.6u6u.ru:8081/enter.php";
    // authxhr.open("GET", authurl, true);
    // authxhr.withCredentials = true;
    // authxhr.onreadystatechange = function () {
    //         if (authxhr.readyState === 4) {
    //             window
    //         }
    // }
    // authxhr.send();
</script>
</body>
</html>